@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap');

html,
body {
    padding: 0;
    margin: 0;
    color: #333;
    font-family: "Nunito";
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

.not-found {
    text-align: center;
}

.not-found a {
    color: #4979ff;
    text-decoration: underline;
}

.header {
    display: flex;
    justify-content: center;
    gap: 1rem;
    flex-direction: column;
}

h2 {
    width: fit-content;
    height: fit-content;
}

.header__div {
    position: relative;
    height: 10%;
}


.logo-title {
    font-size: 20px;
    display: flex;
    text-align: center;
    align-items: center;
}

.item__image {
    min-width: 100px;
}

.header__basket {
    cursor: pointer;
    margin-right: 5%;
    margin-left: auto;
    order: 2;
    display: flex;
    align-items: center;
    gap: 5px;
}


@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.spinner__container {
    display: flex;
    justify-content: center;
}

.loading__spinner {
    position: relative;
    width: 50px;
    height: 50px;
    border: 10px solid #f3f3f3;
    /* Light grey */
    border-top: 10px solid #373535;
    border-right: 10px solid #373535;
    border-bottom: 10px solid #373535;
    /* Black */
    border-radius: 50%;
    animation: spinner 1s linear infinite;
}